{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ SITE_NAME }}{% endblock %}
{% block content %}
<h1>{{ SITE_NAME }}</h1>
{% if SITE_PROD_STATE == "dev" %}
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">
      <i class="bi bi-exclamation-triangle-fill"></i>
      {% trans "Development System" %}
    </h4>
    <p>
      {% blocktrans %}
        This is an experimental, in-development system.
        It isn't being used for anything real.
        Don't believe anything it says, or expect data to be persistent.
      {% endblocktrans %}
    </p>
  </div>
{% elif SITE_PROD_STATE == "beta" %}
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">
      <i class="bi bi-exclamation-triangle-fill"></i>
      {% trans "Development System" %}
    </h4>
    <p>
      {% blocktrans %}
        This is still an in-development system.
        It will replace the RT-based reimbursement flows.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        You may make requests using this system.
        Feel free to fall back to the RT-based flow if you run into problems.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        You may encounter bugs.
        Please file them <a
          href="https://salsa.debian.org/stefanor/debian-reimbursement/-/issues">here</a>.
      {% endblocktrans %}
    </p>
  </div>
{% endif %}
<h2>{% trans "The process" %}</h2>
<p>
  {% blocktrans %}
    This system lets you request approval for expenses, collect receipts, and
    receive reimbursement. The process is:
  {% endblocktrans %}
</p>
<ol>
  <li>
    {% url "request-new" as file_url %}
    {% blocktrans %}
      <a class="btn btn-primary" href="{{ file_url }}">File</a>
      File a pre-approval request.
    {% endblocktrans %}
  </li>
  {% if DEPLOYMENT == "SPI" %}
    {% include 'spi/custom_process.html' %}
  {% else %}
    {% include 'debian/custom_process.html' %}
  {% endif %}
</ol>
{% endblock %}
