{% load i18n %}
<li>{% trans "Receive approval from the DPL." %}</li>
<li>{% trans "Make the expenses, up to the approved amount." %}</li>
<li>{% trans "Upload receipts for the expenses." %}</li>
<li>{% trans "Submit the receipts and request reimbursement." %}</li>
<li>{% trans "Receive reimbursement from a Debian TO." %}</li>
