{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}
{% trans "Select Bank Transfer Type" %}
{% endblock %}
{% block content %}
<h1>{% trans "Select Bank Transfer Type" %}</h1>
<p>{% trans "Please select an appropriate transfer method for your bank." %}</p>
{% if selected %}
  <h2>{% trans "Previously Selected:" %}</h2>
  <div>
    <a class="btn btn-primary"
       href="{% url "bank-details" pk=object.pk wise_type=selected.wise_type %}"
    >{{ selected.description }}</a>
  </div>
{% endif %}
{% if saved %}
  <h2>{% trans "Previously Saved:" %}</h2>
  <div>
    <a class="btn btn-primary"
       href="{% url "bank-details" pk=object.pk wise_type=saved.wise_type %}"
    >{{ saved.description }}</a>
  </div>
{% endif %}
{% if recommended %}
  <h2>
    {% blocktrans with currency=object.currency %}
      Recommended for {{currency}}:
    {% endblocktrans %}
  </h2>
  <div>
    <a class="btn btn-primary"
       href="{% url "bank-details" pk=object.pk wise_type=recommended.wise_type %}"
    >{{ recommended.description }}</a>
  </div>
{% endif %}
<h2>{% trans "Default:" %}</h2>
<div>
  {% for option in defaults %}
    <a class="btn btn-success"
       href="{% url "bank-details" pk=object.pk wise_type=option.wise_type %}"
    >{{ option.description }}</a>
  {% endfor %}
</div>
{% endblock %}
