{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}
{% trans "Add Bank Details" %}
{% endblock %}
{% block content %}
<h1>{% trans "Add Bank Details" %}</h1>
<p>
  {% url "bank-form-selector" object.pk as selector_url %}
  {% blocktrans %}
    Please enter the appropriate details for your bank.
    If this is not the appropriate kind of transfer for your bank, please
    <a href="{{ selector_url }}">select</a> another form.
  {% endblocktrans %}
</p>
<h2>{{ form.description }}</h2>
<form method="post">
  {% crispy form %}
  <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
</form>
{% endblock %}
