{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}
  {% if object.pk %}
    {% trans "Edit Request" %}
  {% else %}
    {% trans "New Request" %}
  {% endif %}
{% endblock %}
{% block content %}
<h1>
  {% if object.pk %}
    {% trans "Edit Request" %}
  {% else %}
    {% trans "New Request" %}
  {% endif %}
</h1>
<p>
  {% blocktrans %}
    This is a request for budget pre-approval to make an expense for the
    project.
    You don't need to break it down into every expected item, just into broad
    categories, for review of your request.
    Once approved, you may make the expenses and will get an opportunity to
    upload receipts.
  {% endblocktrans %}
</p>
<form method="post">
  {% crispy form %}
  {# https://github.com/django-crispy-forms/crispy-bootstrap5/issues/174 #}
  {% include "bootstrap5/errors_formset.html" %}
  {% crispy formset formset_helper %}
  <div class="fs-4 pb-3">
    {% trans "Total:" %}
    <span id="total">{% trans "Calculated by Javascript..." %}</span>
  </div>
  <a class="btn btn-secondary" id="add_line">{% trans "Add Item" %}</a>
  <input type="submit" class="btn btn-primary" value="{% trans 'Save Draft' %}">
</form>
{% endblock %}
{% block extra_foot %}
{{ expense_type_map|json_script:"expense_type_map"}}
<script>
  "use strict";
  (function() {
    const update_total = function(event) {
      var total = 0;
      document.querySelectorAll("form tbody tr:not(.empty-form)").forEach(row => {
        const deleted = row.querySelector("input[id$=-DELETE").checked;
        const amount = parseFloat(row.querySelector("input[id$=-amount]").value) || 0;
        if (!deleted) {
          total += amount;
        }
      });
      const currency = document.querySelector("select#id_currency").value;
      const rendered = new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: currency,
      }).format(total);
      document.querySelector("span#total").textContent = rendered;
    }

    document.querySelector("select#id_currency").addEventListener("input", update_total);
    const update_total_listener_selector = "input[id$=-amount], input[id$=-DELETE]";
    document.querySelectorAll(update_total_listener_selector).forEach(el => {
      el.addEventListener("input", update_total);
    });
    update_total();

    const add_button = document.querySelector("#add_line");
    add_button.addEventListener("click", (event) => {
      const total_forms_input = document.querySelector("#id_lines-TOTAL_FORMS");
      const index = parseInt(total_forms_input.getAttribute("value"));
      const empty_form = document.querySelector(".empty-form");
      const new_form = empty_form.innerHTML.replace(/__prefix__/g, index);
      empty_form.parentElement.insertAdjacentHTML("beforeend", new_form);
      const new_row = empty_form.parentElement.lastElementChild;
      total_forms_input.setAttribute("value", index + 1);
      new_row.querySelectorAll(update_total_listener_selector).forEach(el => {
        el.addEventListener("input", update_total);
      });
    });

    const expense_type_map = JSON.parse(
      document.getElementById("expense_type_map").textContent);
    const request_type_select = document.querySelector("select#id_request_type");
    const update_expense_types = function(event) {
      const request_type = parseInt(request_type_select.value);
      const valid_expense_types = expense_type_map[request_type] || [];
      document.querySelectorAll("select[id$=-expense_type]").forEach(el => {
        el.querySelectorAll("option").forEach(opt => {
          if (opt.value) {
            opt.disabled = !valid_expense_types.includes(parseInt(opt.value));
          }
        });
      });
    };
    request_type_select.addEventListener("input", update_expense_types);
    update_expense_types();
  })();
</script>
{% endblock %}
