{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load currency_format %}
{% block page_title %}
{% trans "Transfer Initiated" %}
{% endblock %}
{% block content %}
<h1>{% trans "Transfer Code" %}</h1>
<p>
  {% blocktrans %}
    To transfer this request, send this link to the new owner:
  {% endblocktrans %}
</p>
<div class="alert alert-info">
  <div class="float-end copy" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="{% trans "Copied" %}">
    <i class="bi bi-clipboard"></i>
  </div>
  <div class="user-select-all font-monospace">{{ object.transfer.get_fully_qualified_url }}</div>
</div>
<p>
  {% blocktrans with expires=object.transfer.expires|date:"SHORT_DATETIME_FORMAT" %}
    Valid until: {{ expires }}
  {% endblocktrans %}
</p>
{% endblock %}
{% block extra_foot %}
<script>
  "use strict";
  (function() {
    const btn = document.querySelector(".copy");
    const popover = new bootstrap.Popover(btn);
    const token = document.querySelector(".user-select-all");
    btn.addEventListener("click",  (event) => {
      navigator.clipboard.writeText(token.textContent);
      popover.show();
    });
  })();
</script>
{% endblock %}
