{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        {{ SITE_NAME }}: {% block page_title %}{% endblock %}
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
          rel="stylesheet"
          integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
          crossorigin="anonymous">
    <link rel="icon" type="image/vnd.microsoft.icon" sizes="16x16 24x24 32x32 48x48 64x64"
          href="{% static 'img/favicon/favicon.ico' %}">
    {% block extra_head %}{% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    {% include "nav.html" %}
    <div class="container-xxl">
      {% block content %}I am a page without a content block{% endblock %}
    </div>
    <footer class="footer bg-light mt-auto py-1">
      <div class="container-xxl">
        <p class="d-none d-print-block">
          {% now "SHORT_DATETIME_FORMAT" as timestamp %}
          {% blocktrans with url=request.build_absolute_uri %}
            Generated from <a href="{{ url }}">{{ url }}</a> at {{ timestamp }}
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            {{ SITE_NAME }}: An instance of
            <a href="https://salsa.debian.org/stefanor/debian-reimbursement">debian-reimbursement</a>.
            Please file bugs <a href="https://salsa.debian.org/stefanor/debian-reimbursement/-/issues">here</a>.
          {% endblocktrans %}
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    {% block extra_foot %}{% endblock %}
  </body>
</html>
