{% load i18n %}
{% load group_roles %}
<nav class="navbar navbar-expand-lg sticky-top d-print-none {% if SITE_PROD_STATE == "dev" %}bg-danger{% else %}bg-light{% endif %}">
  <nav class="container-xxl">
    <a class="navbar-brand" href="/">{{ SITE_NAME }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if request.user.is_authenticated %}
          {% approver_groups as approver_groups %}
          {% for group_id, group_name in approver_groups.items %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "report-approver" group_id %}">
                <i class="bi bi-file-ruled"></i>
                {{ group_name }}
              </a>
            </li>
          {% endfor %}
          {% payer_groups as payer_groups %}
          {% for group_id, group_name in payer_groups.items %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "report-payer" group_id %}">
                <i class="bi bi-file-ruled"></i>
                {{ group_name }}
              </a>
            </li>
          {% endfor %}
          {% if request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="/admin">{% trans "Admin" %}</a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav-user-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i> {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="nav-user-dropdown">
              <li>
                <a class="dropdown-item" href="/profile">{% trans "Profile" %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="/profile/edit">{% trans "Account Settings" %}</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="/accounts/logout">{% trans "Sign Out" %}</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "account_login" %}">{% trans "Sign Up / Log In" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</nav>
