<li>Receive approval from SPI treasurer.</li>
<li>Make the expenses, up to the approved amount.</li>
<li>Upload receipts for the expenses.</li>
<li>Submit the receipts and request reimbursement.</li>
<li>Receive reimbursement from SPI treasurer.</li>
(This process description should later be edited by treasurer)
