{% extends 'base.html' %}
{% load i18n %}
{% load currency_format %}
{% block title %}{{ SITE_NAME }}: {{ object.name }} {% trans "Requests" %}{% endblock %}
{% block content %}
<h1>{{ object.name }} {% trans "Requests" %}</h1>
<table class="table">
  <thead>
    <th>{% trans "ID" %}</th>
    <th>{% trans "Description" %}</th>
    <th>{% trans "Requester" %}</th>
    <th>{% trans "Created" %}</th>
    <th>{% trans "Updated" %}</th>
    <th>{% trans "State" %}</th>
    <th>{% trans "Total" %}</th>
  </thead>
  {% for request in requests %}
    <tr>
      <td>
        <a href="{{ request.get_absolute_url }}">
          {{ request.id }}
        </a>
      </td>
      <td>{{ request.description }}</td>
      <td>{{ request.requester_name }}</td>
      <td>{{ request.created|date }}</td>
      <td>{{ request.updated|date }}</td>
      <td>
        <span
          {% if request.state == "draft" %}
            class="badge text-bg-secondary"
          {% elif request.state == "pending_approval" %}
            class="badge text-bg-info"
          {% elif request.state == "approved" %}
            class="badge text-bg-success"
          {% elif request.state == "deleted" %}
            class="badge text-bg-danger"
          {% elif request.state == "paid" %}
            class="badge text-bg-success"
          {% else %}
            class="badge text-bg-warning"
          {% endif %}
        >{{ request.get_state_display }}</span>
      </td>
      <td>{{ request.total|currency }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
